
        body {
            
            background-image: url("../картиночки/капибара\ у\ реки.jpg");
            width:1350px;
            
            background-attachment: fixed;
            background-repeat: no-repeat;
            /* max-height:600px;
            max-width:400px; */

        }
    
        .layout {
            display: flex;
        }

menu ul {
    list-style: none;
}
        .p-text{
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;

        }

        p.img img {
            width:100%;
        }
        
        .h-menu {
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        /* padding-left:20px;
        padding-right:20px; */
        width: auto;
        }

        h2 { 
        font-size: 150%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        }

        .hs { 
        font-size: 150%; 
        color: white;
        }

        h1 { 
        font-size: 250%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        text-align:center;
        }

        h3 { 
        font-size: 125%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        }

        

        a { 
            text-decoration:underline;
            color:aliceblue;
            /* background-color: aliceblue; */
        } 
        a:visited {
            color: rgb(186, 186, 186);
        }   
        /* a:hover { 
        text-decoration: none;
        text-transform:uppercase;
         */
        /* background-color: bisque; */
        /* } */
        
        .left a:hover {
            text-decoration: none;
        text-transform:uppercase;
        }

        .right a:hover {
            text-decoration: underline;
        }

        .right a {
            text-decoration: none;
        }

        .right img:hover{
            mask-image:linear-gradient(rgb(255, 0, 0, 0.5),rgb(111, 0, 255, 0.5));
        }

        .title {
            font-size: 200%; 
        color: white;
        }


       
header, main, footer, menu {
    background-color: rgba(188, 188, 188, 0.500);
}

.right {
    width: 1100px;
    height:1005px;
    
    

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 0;
}

.left {
    width: 250px;
    height:1005px;

    

    margin-top: 0;
    margin-bottom: 0;
    
    margin-right: 2px;
    
}

.layout {
    width: 1350px;
    height:1005px;
    
    margin-top: 2px;
}

main {
    /* min- */
    width: 1100px;
    height: 945px;

    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}

menu {
    /* min- */
    width: 250px;
    height: auto;

    /* padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;

    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px; */
    border-radius: 15px; 

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

footer {
    width: 1100px;
    min-height:60px;

    /* padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;

    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px; */
    border-radius: 15px;

    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.top {
    width: 1350px;
    height:60px;
    
    margin:0;
}

header {
    width: 1350px;
    height:60px;
    margin-bottom: 2.5px;
    border-radius: 15px; 
}

.left menu ul {
    padding: 0;
    
}

.right li {
    padding: 0;
    list-style-type: none;
}

.selector-for-some-widget {
    box-sizing: content-box;

  }

