
        body {
            
            background-image: url("../картиночки/капибара\ у\ реки.jpg");
            width:1350px;
            
            background-attachment: fixed;
            background-repeat: no-repeat;
            /* max-height:600px;
            max-width:400px; */

        }
    
        .layout {
            display: flex;
        }

menu ul {
    list-style: none;
}
        .p-text{
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;

        }

        p.img img {
            width:100%;
        }
        
        .h-menu {
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        /* padding-left:20px;
        padding-right:20px; */
        width: auto;
        }

        h3:hover {
            animation: changeColor 2s linear;
        }

        h2 { 
        font-size: 150%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        }

        .hs { 
        font-size: 150%; 
        color: white;
        }

        h1 { 
        font-size: 250%; 
        color: white;
        /* background-color: rgba(0, 0, 0, 0.255); */
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        text-align:center;
        }

        h3 { 
        font-size: 125%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 15px;
        padding-left:5px;
        padding-right:5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
        }

        

        menu a { 
            text-decoration: none;
            color:rgb(170, 155, 195);

        } 
        a:visited {
            color: rgb(195, 155, 255);
        }   

        menu a:hover {
            color: #9580ff;
        /* text-transform:uppercase; */
        text-decoration: underline;
        }

        .right a:hover {
            color: #9580ff;
            text-decoration: underline;
        }

        .right a {
            text-decoration: none;
            color:rgb(170, 155, 195);
        }

        .right img:hover{
            mask-image:linear-gradient(rgb(255, 0, 0, 0.5),rgb(111, 0, 255, 0.5));
        }

        .title {
            font-size: 200%; 
        color: white;
        }

        h2:hover {
            animation: changeColor 2s linear;
        }


       
header, main, footer, menu {
    background-color: rgba(188, 188, 188, 0.500);
}

.right {
    width: 1100px;
    height:1005px;
    
    

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 0;
}

.left {
    width: 250px;
    height:1005px;

    

    margin-top: 0;
    margin-bottom: 0;
    
    margin-right: 2px;
    
}

.layout {
    width: 1350px;
    height:1005px;
    
    margin-top: 2px;
}

main {

    width: 1100px;
    height: 945px;

    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;

}

menu {

    width: 250px;
    height: auto;

    
    border-radius: 15px; 

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

footer {
    width: 1100px;
    min-height:60px;

    
    border-radius: 15px;

    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.top {
    width: 1350px;
    height:60px;
    
    margin:0;
}

header {
    width: 1350px;
    height:60px;
    margin-bottom: 2.5px;
    border-radius: 15px; 
}

.left menu ul {
    padding: 0;
    
}

.right li {
    padding: 0;
    list-style-type: none;
}

.selector-for-some-widget {
    box-sizing: content-box;

  }

  *{box-sizing:border-box}
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  @keyframes loader {
    0% {transform:rotate(-45deg)}
    50%{transform:rotate(-135deg)}
    100%{transform:rotate(-225deg)}}

  @keyframes span-1 {
    0% {transform:translate(0);}
    50%{transform:translate(-15px, 0);border-color:#ff0000}
    100%{transform:translate(0);}}

  @keyframes span-2 {
    0%{transform:translate(0);}
    50%{transform:translate(15px, 0);border-color:#6200ff}
    100%{transform:translate(0);}}
    
  @keyframes span-3 {
    0%{transform:translate(0);}
    50%{transform:translate(0, -15px);border-color:#6200ff}
    100%{transform:translate(0);}}

  @keyframes span-4 {
    0%{transform:translate(0);}
    50%{transform:translate(0, 15px);border-color:#ff0000}
    100%{transform:translate(0);}}


  .loader {
    width: 25px;
    height: 25px;
    position: relative;
    animation: loader 5s infinite ease-in-out;
  }
  .loader span {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #ffffff;
  }
  .loader span:nth-child(1) {
    animation: span-1 5s ease-in-out infinite;
  }
  .loader span:nth-child(2) {
    animation: span-2 5s ease-in-out infinite;
  }
  .loader span:nth-child(3) {
    animation: span-3 5s ease-in-out infinite;
  }
  .loader span:nth-child(4) {
    animation: span-4 5s ease-in-out infinite;
  }


  @keyframes changeColor {
    /* 0% {
      background-color: rgba(33, 0, 95, 0);
    } */
    0% {
        background-color: rgba(33, 0, 95, 0.25);
      }
    50% {
      background-color: rgba(33, 0, 95, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.25);
      }
    /* 100% {
        background-color: rgba(33, 0, 95, 0);
      } */
  }

  .element {
    animation: changeColor 10s infinite;
    border-radius: 15px;
  }

  @keyframes circle-to-square {
    from {
      width: 25%;
      height: auto;
    }
    50% {
      width: 50%;
      height: auto;
    }
    75% {
        width: 75%;
        height: auto;
      }
    to {
      width: 100%;
      height: auto;
    }
  }
  
  @keyframes color-change {
    from {
      background-color: rgba(160, 75, 75, 0.5);
    }
    50% {
      background-color: #534792;
    }
    to {
      background-color: #436e97;
    }
  }

  .cveto-menaska {
    width: auto;
    border-radius: 15px;
    animation:
      color-change 5s  alternate-reverse linear infinite;
  }

  .child {
    text-align:end;
    border-radius: 15px;
    animation:
      circle-to-square 10s alternate-reverse infinite ease-in-out 5s,
      color-change 5s  alternate-reverse linear infinite;
  }