
        body {
            
            background-image: url("../картиночки/капибара\ с\ размытым\ фоном.jpg");

            background-position: top;
            background-attachment: fixed;
            background-repeat: no-repeat;
            /* max-height:600px;
            max-width:400px; */

        }
    
        .layout {
            display: flex;
        }
        header{

            max-width: 90%;
            min-height: 10%;
            
        }

        main{
            max-width: 90%;
            min-height: 80%;
           
        }

        footer {
            max-width: 90%;
            min-height: 10%;
            
        }

        menu {
            min-height: 80%;
            
        }

        .menu1 {
            min-height: 80%;
            
        }
.left, .right {
    margin: 0;
    padding: 0;
    height: 90%;
}

.top {
    margin: 0;
    padding: 0;
    height: 10%;
}

menu ul {
    list-style: none;
}
        .p-text{
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;
        }

        p.img img {
            width:100%;
        }
        
        .h-menu {
            font-size: 100%; 
            color: white;
            background-color: rgba(0, 0, 0, 0.255);
            border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;
        }

        h2 { 
        font-size: 150%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;
        }

        .hs { 
        font-size: 150%; 
        color: white;
        }

        h1 { 
        font-size: 250%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;
        }

        h3 { 
        font-size: 125%; 
        color: white;
        background-color: rgba(0, 0, 0, 0.255);
        border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        width: auto;
        }

        a { 
            text-decoration:underline;
            color:aliceblue;
            /* background-color: aliceblue; */
        } 
        a:visited {
            color: rgb(186, 186, 186);
        }   
        /* a:hover { 
        text-decoration: none;
        text-transform:uppercase;
         */
        /* background-color: bisque; */
        /* } */
        
        .left a:hover {
            text-decoration: none;
        text-transform:uppercase;
        }

        .right a:hover {
            text-decoration: underline;
        }

        .right a {
            text-decoration: none;
        }

        .right img:hover{
            mask-image:linear-gradient(rgb(255, 0, 0, 0.5),rgb(111, 0, 255, 0.5));
        }

        .title {
            font-size: 200%; 
        color: white;
        }

        /* @media screen (min-width: 500px) {
            header {min-width: 300px;
                max-width: 90%;}
        } */

       
header, main, footer, menu {
    background-color: rgba(188, 188, 188, 0.500);

    width: auto;
    height: auto;

            padding-top: 2px;
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 2px;

            border-top: 2px;
            border-left: 2px;
            border-right: 2px;
            border-bottom: 2px;
            border-radius: 5px;

            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 0;
}

main {
    /* min- */
    min-width: 400px;
}

menu {
    /* min- */
    min-width: 202px;
}

header, footer {
    
    margin:0;
    /* min- */
    min-width:calc(400px + 202px + 2px + 2px + 5px + 5px);
}

.left menu ul {
    padding: 0;
    
}

.right li {
    padding: 0;
    list-style-type: none;
}

.selector-for-some-widget {
    box-sizing: content-box;

  }